	
 {% block content %}
			<div class="row-fluid" style="margin-top: 5px;margin-bottom: 10px;">
              &nbsp;&nbsp;&nbsp; for <span style="color:darkorange;">{{keyword}}</span>
              
              {% if savetab is sameas 0 %}
               around <span style="color:darkorange">${{dollarlimit}}</span> [showing {{totalresults}} results]</th>
		      {% endif %}
		     </div>
				{% if savetab is sameas 0 %}
		       {% if facethash['channel'] is defined %}
					 	<div class="row-fluid"> 
           		     		
								<div class="btn-group" data-toggle="buttons-checkbox" style="padding-left: 20px;">
									{% for channel in facethash['channel'].keys() %}
									<div class="span{{spans}}">
									<button class="btn{% if selectedfilters['channel'] is defined %}{% if selectedfilters['channel'][channel] is defined %} active{% endif %}{% endif %}" onclick="saveFilter('{{query['_id']}}','channel-{{channel}}','channel|{{channel}}');execURL('/updatemetrics/{{username}}/increment/{&quot;filtersused&quot;:1}',true);" style="padding: 1px 10px;width:100%;" id="channel-{{channel}}" channel="{{channel}}">{{channel}} {%if not facethash['channel'][channel] is sameas 0 %}({{facethash['channel'][channel]}}){% endif %}</button>
									</div>
									{% endfor %}
								</div>
					 	</div>  
					 	{% endif %}
					{% endif %} 	
		        {% if deals[0] is undefined %}
		        
					{% if savetab is sameas 0 %}
					<div id="newdealalert">
			
					</div>
					<div class="alert alert-block alert-error fade in" style="margin-left:0px;min-height:10px;bottom-padding:5px;">
							We could not find great deals for you right now. But we will keep looking. Check your keywords and use the filters if you want to relax your constraints. We will remember everything you tell us.   
					</div>
					<div class="alert alert-block alert-error fade in" style="margin-left:0px;min-height:10px;bottom-padding:5px;">
							Watch this space. Get on with your day and we will notify you when we find more great deals. <a onclick="bookmark('{{username}}\'s Klipiter page', document.URL);" href="">Bookmark page</a>  
					</div>
					{% else %}
					
					<div class="alert alert-block alert-error fade in" style="margin-left:0px;min-height:10px;bottom-padding:5px;">
							Save interesting deals on the Results tab and they will appear here for you to take action later. Kind of like a personal shopping cart for every product you are tracking.   
					</div>
					
					{% endif %}

				{% else %}
					{% if savetab is sameas 0 %}
						
						
						
						{% if (user_metrics['queryclicks'] is not defined) or (user_metrics['queryclicks'] < 3) %}
							<div class="label label-warning span12" style="margin-left:0px;min-height:10px;bottom-padding:5px;">
										<button class="close" data-dismiss="alert">×</button>
										Watch this space. Get on with your day and we will notify you when we find more great deals. <a onclick="bookmark('{{username}}\'s Klipiter page', document.URL);" href="">Bookmark page</a>   
								</div>
								
						{% endif %}
						<div id="newdealalert">
			
						</div>
	
					{% endif %}
					
				{% endif %}
				
		<div class="scrollspy-example">
				{% for deal in deals %}
		        
		        
		       		   
					    	
						<ul class="thumbnails" id="tn{{deal['_id']}}">
					
						
						<li class="span12">
						 
						  <div class="thumbnail" 
						  {% if deal['days'] == 0 %}
						  	style="background-color: cornsilk;"
						  {% else %}
						    style="background-color: #EFFFFF;"
						  {% endif %}
						  
						  >
						  <div class="caption" style="padding: 0px;">
							  <table width="100%" height="100%">
								<tr>
									<td width="18%" valign="top"><img src="{{deal['image']}}" style="height: 100px;" width="100"/> </td>
									<td width="70%" valign="top">
										
											<p><a href="{{deal['url']}}"  onClick="execURL('/updatemetrics/{{username}}/increment/{&quot;dealclicks&quot;:1}',true);" target="_blank">{{deal['title']}}</a>{% if deal['unseen'] is defined %}<img src="/siteassets/img/newTag.gif"/>{% endif %}</p>
											<div class="row-fluid">
												<div class="span6">
													<div class="row-fluid" style="margin-bottom: 5px">
													<strong>Condition:</strong> <span class="label label-inverse">{{deal['condition']}}</span>
													</div>
													<div class="row-fluid" style="margin-bottom: 3px; color: green;">
													From {{deal['source']}}
													</div>
													<div id="{{deal['channel']}}" class="row-fluid" style="margin-bottom: 3px;">
													Available {{deal['channel']}}
													{% if deal['city'] is defined %}
													&nbsp;@{{deal['city']}}, {{deal['state']}}
													{% endif %}
													</div>
												</div>
												<div class="span6">
													<span class="muted" style="color: #555555;">
													{% if deal['f1value'] is defined %}
													<div class="row-fluid">
														{{deal['f1name']}}:&nbsp;{{deal['f1value']}}	
													</div>
													{% endif %}
													{% if deal['f2value'] is defined %}
													<div class="row-fluid">
														{{deal['f2name']}}:&nbsp;{{deal['f2value']}}	
													</div>
													{% endif %}
													</span>
													
													<div class="row-fluid" style="margin-top: 10px;">
													
													<span>
													{% if deal['rating'] is undefined %}
													<i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i><i class="icon-star-empty"></i>
													{% else %}
													
													{% for number in range(0,deal['rating']) %}
													<i class="icon-star"></i>
													{% endfor %}
													{% for number in range(deal['rating'], 5) %}
													<i class="icon-star-empty"></i>
													{% endfor %}
													{% endif %}
													
													</span>
													</div>
													</div>
												</div>
											</div>
												
											
										
									</td>
									<td width="12%" valign="top">
									<table width="100%" height="100%"><tr><td align="right" valign="top"><h2>${{deal['price']}}</h2></td></tr><tr><td align="right" valign="top">
									 {% if deal['days'] == 0 %}
									 	 	<span class="label label-important" style="padding: 1px 18px 2px;">Today</span>
									 {% else %}
										<span class="label" style="padding: 1px 18px 2px;">{{deal['days']}} day(s)</span>
									 {% endif %}
									
									</td></tr><tr><td align="right" valign="bottom"> 
									
									{% if deal['saved'] is sameas 1 %}
									<a href="#" id="{{deal['_id']}}" class="btn btn-info" style="background-color:lightgreen; background-image: -moz-linear-gradient(center top , lightgreen, lightgreen);" onclick="saveDeal('{{deal['_id']}}','{{username}}');">Saved</a>
									{% elif deal['saved'] is sameas 2 %}
									<a href="#" id="{{deal['_id']}}" class="btn btn-info" style="background-color:red; background-image: -moz-linear-gradient(center top , red, red);" onclick="unsaveDeal('{{deal['_id']}}','{{username}}');">Unsave</a>
									{% else %}
									<a href="#" id="{{deal['_id']}}" class="btn btn-info" style="padding: 3px 18px;" onclick="saveDeal('{{deal['_id']}}','{{username}}');renderURLinDiv('/getsaveddeals/{{username}}/{{keyword}}/1','savedknopons',true);execURL('/updatemetrics/{{username}}/increment/{&quot;saves&quot;:1}',true);">Save</a>
									{% endif %}
									</td></tr></table>
									</div>
									
									</td>
								</tr>
							  </table>
						  </div>
						</li>
						
					  </ul>
				
					    
					    	
					 
	
		       	  
		         {% endfor %}
		         </div>
 				 {% endblock %}		
		       


