	
 {% block content %}
			<div class="row-fluid" style="margin-top: 5px;margin-bottom: 10px;">
              &nbsp;&nbsp;&nbsp; for <span style="color:darkorange;">{{keyword}}</span>
              
              {% if savetab is sameas 0 %}
              
               around <span style="color:darkorange">${{dollarlimit}}</span> <span style="color:grey;float:right;">
               			
					  {% if mode == "emaildeals" %}
					  		 {% if deals[0] is defined %}
							<a href="http://shopyter.com/{{username}}">See more results...</a>
							{% endif %}
					   {% else %}
							showing {{totalresults}} results
					   {% endif %}
               </span>
		      {% endif %}
		     </div>
				<!--{% if savetab is sameas 0 %}
		       		{% if facethash['channel'] is defined %}
					 	<div class="row-fluid"> 
           		     		
								<div class="btn-group" data-toggle="buttons-checkbox" style="padding-left: 20px;">
									{% for channel in facethash['channel'].keys() %}
									<div class="span{{spans}}">
									<button class="btn{% if selectedfilters['channel'] is defined %}{% if selectedfilters['channel'][channel] is defined %} active{% endif %}{% endif %}" onclick="saveFilter('{{query['_id']}}','channel-{{channel}}','channel|{{channel}}', '{{username}}');execURL('/updatemetrics/{{username}}/increment/{&quot;filtersused&quot;:1}',true);" style="padding: 1px 10px;width:100%;" id="channel-{{channel}}" channel="{{channel}}">{{channel}} {%if not facethash['channel'][channel] is sameas 0 %}({{facethash['channel'][channel]}}){% endif %}</button>
									</div>
									{% endfor %}
								</div>
					 	</div>  
					 {% endif %}
				{% endif %} -->	
		        {% if deals[0] is undefined %}
		        
					{% if savetab is sameas 0 %}
					<div id="newdealalert">
			
					</div>
					<div class="alert alert-block alert-error fade in" style="margin-left:0px;min-height:10px;bottom-padding:5px;">
							We could not find great deals for you right now. But we will keep looking. Check your keywords and use the filters if you want to relax your constraints. We will remember everything you tell us.   
					</div>
					<div class="alert alert-block alert-error fade in" style="margin-left:0px;min-height:10px;bottom-padding:5px;">
							Watch this space. Get on with your day and we will notify you when we find more great deals. <a onclick="bookmark('{{username}}\'s Klipiter page', document.URL);" href="">Bookmark page</a>  
					</div>
					{% else %}
					
					<div class="alert alert-block alert-error fade in" style="margin-left:0px;min-height:10px;bottom-padding:5px;">
							Save interesting deals on the Results tab and they will appear here for you to take action later. Kind of like a personal shopping cart for every product you are tracking.   
					</div>
					
					{% endif %}
				{% else %}
					{% if savetab is sameas 0 %}
						
						
						
						{% if ((user_metrics['queryclicks'] is not defined) or (user_metrics['queryclicks'] < 4)) and (user_metrics['dealinfowindowclosed'] is not defined) %}
							<div class="alert alert-block alert-error fade in" style="margin-left:0px;min-height:10px;padding-bottom:5px;padding-top:5px;margin-bottom:10px;">
										<button class="close" data-dismiss="alert" onclick="execURL('/updatemetrics/{{username}}/increment/{&quot;dealinfowindowclosed&quot;:1}',true);">×</button>
										Watch this space to be notified when we find more great deals. <a onclick="bookmark('{{username}}\'s Klipiter page', document.URL);" href="">Bookmark page</a><br>You can also just get on with your day and we will email you with updates everyday.   
								</div>
								
						{% endif %}
						<div id="newdealalert">
			
						</div>
	
					{% endif %}
					
				{% endif %}
				
		<div class="row-fluid">
				
				{% for deal in deals %}
		        
		        
		       		   {% if APP_CONFIG['RESULTS_LISTING_VIEW'] is sameas 1 %}
					    	
						<ul class="thumbnails" id="tn{{deal['_id']}}">
					
						
						<li class="span12">
						 
						  <div class="thumbnail" 
						  {% if deal['days'] == 0 %}
						  	style="background-color: {{APP_CONFIG['THUMBNAIL_COLOR']}};"
						  {% else %}
						    style="background-color: {{APP_CONFIG['THUMBNAIL_COLOR']}};"
						  {% endif %}
						  
						  >
						  <div class="caption" style="padding: 0px;">
							  <table width="100%" height="100%">
								<tr>
									<td width="18%" valign="top"><img src="{{deal['image']}}" style="height: 80px;" width="100"/> </td>
									<td width="55%" valign="top">
										
											<p><a href="{{deal['url']}}"  onClick="execURL('/updatemetrics/{{username}}/increment/{&quot;dealclicks&quot;:1}',true);" title="{{deal['title']}}" target="_blank">{{deal['listing_title']}}</a> {% if deal['unseen'] is defined %}<img src="/siteassets/img/newTag.gif"/>{% endif %}</p>
											<div class="row-fluid">
												<div>
												
													<div class="row-fluid" style="margin-bottom: 5px; color: green;">
													From {{deal['source']}}
													{% if deal['city'] is defined %}
													<span style="color:grey;">,&nbsp;{{deal['city']}}</span>
													{% endif %}
													<span class="label" style="background-color:transparent;color:{{APP_CONFIG['CHANNEL_DISPLAY_COLOR'][deal['channel']]}};text-shadow:0;">{{APP_CONFIG['CHANNEL_DISPLAY_NAME'][deal['channel']]}}</span>
													</div>
												</div>
												
											</div>
											<div class="row-fluid" style="margin-bottom: 5px;">
												{% if deal['condition'] == "new" %}
										 {% elif deal['condition'] == "used" %}
										 	<span class="label label-important">{{deal['condition']}}</span>
										 {% else %}
										 	<span class="label label-warning"> {{ deal['condition']}}</span>
										 {% endif %}
										 
												{% if deal['days'] == 0 %}
												<span class="label">Found Today</span>
												{% endif %}
												
											
												{% if deal['value_rating'] is defined %}
									<span class="label">{% for i in range(0,deal['value_rating']) %}<i class="icon-star icon-white"></i>{% endfor %}</span>
								  	{% endif %}
								  	
											</div>
											
										
									</td>
									<td width="27%" valign="top">
									<table width="100%" height="100%"><tr><td align="right" valign="top"><h2>${{deal['price']}}</h2></td></tr><tr><td align="right" valign="top">
									 
									
									</td></tr>
									
									
									<tr><td align="right" valign="bottom"> 
									{% if deal['city'] is defined %}
									<a href="#" id="showonmap{{deal['_id']}}" class="btn" style="width:40px;background-color:#FF6600;color:white;" onclick="renderSelectedMap('{{username}}', '{{query['_id']}}', {% if APP_CONFIG['FILTER_ON_LEFT'] is sameas 1 %}1000{% else %}500{% endif %}, '{{deal['_id']}}');execURL('/updatemetrics/{{username}}/increment/{&quot;mapits&quot;:1}',true);">Map it</a>
									{% endif %}
									
									{% if deal['saved'] is sameas 1 %}
									<a href="#" id="{{deal['_id']}}" class="btn" style="width:40px;background-color:darkgreen;color:white;" onclick="saveDeal('{{deal['_id']}}','{{username}}');">Saved</a>
									{% elif deal['saved'] is sameas 2 %}
									<a href="#" id="{{deal['_id']}}" class="btn" style="width:40px;background-color:red;color:white;" onclick="unsaveDeal('{{deal['_id']}}','{{username}}');">Unsave</a>
									{% else %}
									<a href="#" id="{{deal['_id']}}" class="btn" style="width:40px;background-color:brown;color:white;" onclick="saveDeal('{{deal['_id']}}','{{username}}');renderURLinDiv('/getsaveddeals/{{username}}/{{query['_id']}}/1','savedknopons',true);execURL('/updatemetrics/{{username}}/increment/{&quot;saves&quot;:1}',true);">Save</a>
									{% endif %}
									</td></tr>
									
									</table>
									</div>
									
									</td>
								</tr>
							  </table>
						  </div>
						</li>
						
					  </ul>
					{% else %}
						{% if (loop.index - 1) is divisibleby 3 %}
								<ul class="thumbnails span12" >
						{% endif %}
							<li class="span4" id="tn{{deal['_id']}}">
							
							  <div class="thumbnail">
							  	<div class="row-fluid">
									<div class="span8">
									
										<img src="{{deal['image']}}" style="height: 100px;width:100%;">
									</div>
									
									<div class="span3">
										 <div class="row-fluid" style="padding-top:5px;padding-bottom:5px;float:right;"><h4><span style="color:black;float:right;">${{deal['price']}}</span> </h4></div>
										 
										
										  <div class="row-fluid">
										 {% if deal['saved'] is sameas 1 %}
										<a href="#" id="{{deal['_id']}}" class="btn" style="background-color:darkgreen; color:white;width:30px;margin-bottom:3px;float:right;float:bottom;" onclick="saveDeal('{{deal['_id']}}','{{username}}');">Saved</a>
										{% elif deal['saved'] is sameas 2 %}
										<a href="#" id="{{deal['_id']}}" class="btn" style="background-color:red; width:30px;margin-bottom:3px;color:white;float:right;float:bottom;" onclick="unsaveDeal('{{deal['_id']}}','{{username}}');">Unsave</a>
										{% else %}
										<a href="#" id="{{deal['_id']}}" class="btn" style="width:30px;margin-bottom:3px;float:right;float:bottom;background-color:brown; color:white;" onclick="saveDeal('{{deal['_id']}}','{{username}}');renderURLinDiv('/getsaveddeals/{{username}}/{{query['_id']}}/1','savedknopons',true);execURL('/updatemetrics/{{username}}/increment/{&quot;saves&quot;:1}',true);">Save</a>
										{% endif %}
										</div>
										 <div class="row-fluid">
										 {% if deal['city'] is defined %}
									<a href="#" id="showonmap{{deal['_id']}}" class="btn" style="width:30px;float:right;float:bottom;background-color:#FF6600; color:white;margin-bottom:5px;" onclick="renderSelectedMap('{{username}}', '{{query['_id']}}', {% if APP_CONFIG['FILTER_ON_LEFT'] is sameas 1 %}1000{% else %}500{% endif %}, '{{deal['_id']}}');execURL('/updatemetrics/{{username}}/increment/{&quot;mapits&quot;:1}',true);">Mapit</a>
									{% endif %}
											</div>
									</div>
								</div>
								<div class="caption" >
								  <a href="{{deal['url']}}"  onClick="execURL('/updatemetrics/{{username}}/increment/{&quot;dealclicks&quot;:1}',true);"  title="{{deal['title']}}" target="_blank">{{deal['thumbnail_title']}}</a>&nbsp;&nbsp;
								  <p>
								  	<div class="row-fluid" style="margin-bottom: 5px">
									
									<span style="margin-bottom: 3px; color: green;">
									From {{deal['source']}}</span>
									{% if deal['city'] is defined %}
									, <span style="color:grey;">{{deal['city']}}</span>
									{% endif %}
									{% if deal['condition'] != "new" %}
									, <span style="color:red;">{{deal['condition']}}</span>
									{% endif %}
									
									
									
									</div>
									
									
									
									
									   
									
									
								  </p>
								 
								</div>
							  </div>
							</li>
							
						{% if loop.index is divisibleby 3 %}
							
								</ul>
						{% endif %}
					
					{% endif %}
					    
					    	
					 
	
		       	  
		         {% endfor %}
		         
		        
		         </div>
 				 {% endblock %}		
		       


