
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>
     <link href="/bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet">
     <link href="/bootstrap/docs/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAH7frOOslC7tXHdC-WiJ16d4uhsI_1PQY&sensor=false">
      
    </script>
        

   <script src="/bootstrap/docs/assets/js/jquery.js"></script>
          <script language="JavaScript" src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>
 <script src="/js/utility.js"></script>

    <script type="text/javascript">
    	var map = null;
    	var markers = {};
    	var infowindows = {};
    	var markercounts = {};
    	var prevopenindex = -1;
    	function codeAddress(map, address, markertitle, isuserlocation, url, source, dealid, latp, lngp, channel, imgurl, price) {
    		var highlightcolor = '';
    		if(dealid == '{{highlightdealid}}') {
				highlightcolor = "background-color:palegreen;"
			}
    		var display = '<div class="container well" style="margin-bottom: 0px;width:100%;' + highlightcolor + '"><div><table><tr><td><img src="' + imgurl + '" style="height: 40px;" width="30"/></td><td><a href="' + url + '" target="_blank">' + markertitle + '</a> - $' + price + '</td></tr></table></div><div><span style="color: green;">From ' + source + '</span>&nbsp;|&nbsp;' + address + '</div></div>';
    		if((latp == 0) && (lngp == 0)) {
    			geocoder.geocode( { 'address': address}, function(results, status) {
				  if (status == google.maps.GeocoderStatus.OK) {
					var lat = results[0].geometry.location.lat();
					var lng = results[0].geometry.location.lng();
					
					execURL('/updatedeallocation/' + dealid + '/' + lat + '/' + lng, true);
					var latlng = new google.maps.LatLng(lat,lng);
					//map.setCenter(latlng);
					if(markers.hasOwnProperty(address)) {
						var iwin = infowindows[address];
						iwin.setContent(iwin.getContent() + '<br>' + display);
						markercounts[address] = markercounts[address] + 1;
						var marker = markers[address];
						if(channel == "in-store") {
							marker.setIcon('http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=' + markercounts[address] + '|0000FF|000000');
						}
						else {
							marker.setIcon('http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=' + markercounts[address] + '|FF0000|000000');
						}
						if(dealid == '{{highlightdealid}}') {
							iwin.open(map,marker);
						}
						
						
					}
					else {
						var marker = new google.maps.Marker({
							map: map,
							position: latlng,
							title: markertitle
						});
						if(isuserlocation) {
							iconFile = 'http://maps.google.com/mapfiles/ms/icons/green-dot.png';
							marker.setIcon(iconFile);
						}
						
						
						if(channel == "in-store") {
							iconFile = 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png';
							marker.setIcon(iconFile);
						}
						var infowindow = new google.maps.InfoWindow({
							content: display,
							maxWidth: 30
						});
						markers[address] = marker;
						infowindows[address] = infowindow;
						markercounts[address] = 1;
						{% if highlightdealid != "-1" %}
							if(dealid == '{{highlightdealid}}') {
								infowindow.open(map,marker);
							}
						{% endif %}
						google.maps.event.addListener(marker, 'click', function() {
						  
						  	infowindow.open(map,marker);
						  	
						});
						
					}
					
				  } else {
					//alert("Geocode was not successful for the following reason: " + status);
				  }
				});
    		}
    		else {
    				
    				var latlng = new google.maps.LatLng(latp,lngp);
					//map.setCenter(latlng);
					if(markers.hasOwnProperty(address)) {
						var iwin = infowindows[address];
						iwin.setContent(iwin.getContent() + '<br>' + display);
						markercounts[address] = markercounts[address] + 1;
						var marker = markers[address];
						if(channel == "in-store") {
							marker.setIcon('http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=' + markercounts[address] + '|66A3FF|000000');
						}
						else {
							marker.setIcon('http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=' + markercounts[address] + '|FF6666|000000');
						}
						if(dealid == '{{highlightdealid}}') {
							iwin.open(map,marker);
						}
					}
					else {
						var marker = new google.maps.Marker({
							map: map,
							position: latlng,
							title: markertitle
						});
						if(isuserlocation) {
							iconFile = 'http://maps.google.com/mapfiles/ms/icons/green-dot.png';
							marker.setIcon(iconFile);
						}
						if(channel == "in-store") {
							iconFile = 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png';
							marker.setIcon(iconFile);
						}
						var infowindow = new google.maps.InfoWindow({
							content: display,
							maxWidth: 30
						});
						markers[address] = marker;
						infowindows[address] = infowindow;
						markercounts[address] =  1;
						{% if highlightdealid != "-1" %}
							if(dealid == '{{highlightdealid}}') {
								
								infowindow.open(map,marker);
							}
						{% endif %}
						google.maps.event.addListener(marker, 'click', function() {
						  infowindow.open(map,marker);
						});
					}
				
			}	
			
    		
		  }

    	function openInfoWindow(address) {
			if(infowindows[address] != null) {
    			infowindows[address].open(map, markers[address]);
    		}
    	
    	
    	}
    	
    	function initialize() {
       		geocoder = new google.maps.Geocoder();
    		var mapOptions = {
      			zoom: {{zoom}},
      			mapTypeId: google.maps.MapTypeId.ROADMAP,
      			center: new google.maps.LatLng({{query['lat']}} - 0.005,{{query['long']}} - 0.005)
    		}
    		map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
    		
			
			
			{% for deal in deals %}
				{% if deal['city'] is defined %}
				{% if deal['city'] in [''] %}
				
				{% else %}
					var add = "{{deal['street']}}" + ", {{deal['city']}}" + ", {{deal['state']}}" + ", US";
    				{% if deal['lat'] is defined %}
    					var lat = {{deal['lat']}};
    				{% else %}
    					var lat = 0;
    				{% endif %}
    				{% if deal['long'] is defined %}
    					var lng = {{deal['long']}};
    				{% else %}
    					var lng = 0;
    				{% endif %}
    				codeAddress(map, add, "{{ deal['title']|replace("\"", " ")|replace("'", " ") }}", false, "{{ deal['url'] }}", "{{ deal['source'] }}","{{deal['_id']}}", lat, lng,"{{deal['channel']}}", "{{deal['image']}}","{{deal['price']}}");
    			{% endif %}
    			{% endif %}
    		{% endfor %}
			
			 
			 codeAddress(map, '{{query['city']}}, {{query['state']}}, {{query['zip']}}', "My location", true, "#", "", "-1", {{query['lat']}} - 0.005, {{query['long']}} - 0.005,"","","");
			 var latlng = new google.maps.LatLng({{query['lat']}} - 0.005,{{query['long']}} - 0.005);
			 map.setCenter(latlng);
			 			
			 

      	}
      	


    </script>
  </head>
  <body onload="initialize()" style="padding-left: 0px; padding-right: 0px;">
  	
  	 <div  style="width:{% if mapspecs[1] == "big" %}20{% else %}0{% endif %}%; height:100%;float:right;height: 1000px; overflow: auto"">
  	 {% if mapspecs[1] == "big" %}
  	 		{% for deal in deals %}
  	 
  	 				
						<ul class="thumbnails" style="width:100%;">
							<li id="tn{{deal['_id']}}" style="width:100%;">
							  <div class="thumbnail">
							  	<div class="row-fluid">
									<div class="span8">
										<img src="{{deal['image']}}" style="height: 100px;width:100%;">
									</div>
									<div class="span3">
										 <div class="row-fluid" style="padding-top:5px;padding-bottom:5px;float:right;"><h4><span style="color:black;float:right;">${{deal['price']}}</span> </h4></div>
										 
										
										  <div class="row-fluid">
										 {% if deal['saved'] is sameas 1 %}
										<a href="#" id="{{deal['_id']}}" class="btn" style="width:35px;color:white;background-color:darkgreen;margin-bottom:3px;float:right;float:bottom;padding:4px 6px;" onclick="saveDeal('{{deal['_id']}}','{{username}}');">Saved</a>
										{% elif deal['saved'] is sameas 2 %}
										<a href="#" id="{{deal['_id']}}" class="btn" style="width:35px;padding:4px 6px;color:white;background-color:red; margin-bottom:3px;float:right;float:bottom;" onclick="unsaveDeal('{{deal['_id']}}','{{username}}');">Unsave</a>
										{% else %}
										<a href="#" id="{{deal['_id']}}" class="btn" style="width:35px;color:white;margin-bottom:3px;padding:4px 6px;float:right;float:bottom;background-color:brown;" onclick="saveDeal('{{deal['_id']}}','{{username}}');execURL('/updatemetrics/{{username}}/increment/{&quot;saves&quot;:1}',true);">Save</a>
										{% endif %}
										</div>
										 <div class="row-fluid">
										 {% if deal['city'] is defined %}
									<a href="#" id="showonmap{{deal['_id']}}" class="btn" style="width:35px;color:white;float:right;float:bottom;padding:4px 6px;background-color:#FF6600; margin-bottom:5px;" onclick="openInfoWindow('{{deal['street']}}, {{deal['city']}}, {{deal['state']}}, US');execURL('/updatemetrics/{{username}}/increment/{&quot;mapits&quot;:1}',true);">Mapit</a>
									{% endif %}
											</div>
									</div>
								</div>
								<div class="caption" >
								  <a href="{{deal['url']}}"  onClick="execURL('/updatemetrics/{{username}}/increment/{&quot;dealclicks&quot;:1}',true);"  title="{{deal['title']}}" target="_blank">{{deal['thumbnail_title']}}</a>&nbsp;&nbsp;
								  <p>
								  	<div class="row-fluid" style="margin-bottom: 5px">
									
									<span style="margin-bottom: 3px; color: green;">
									From {{deal['source']}}</span>
									{% if deal['city'] is defined %}
									, <span style="color:grey;">{{deal['city']}}</span>
									{% endif %}
									{% if deal['condition'] != "new" %}
									, <span style="color:red;">{{deal['condition']}}</span>
									{% endif %}
									
									
									
									</div>
									
									
									
									
									   
									
									
								  </p>
								 
								</div>
							  </div>
							</li>
							
						</ul>
  	   	 {% endfor %}

  	 {% endif %}
  	 
  	 </div>

    <div id="map_canvas" style="width:{% if mapspecs[1] == "big" %}80{% else %}100{% endif %}%; height:100%;"></div>
    
   
    
 	 <script src="/bootstrap/docs/assets/js/bootstrap-transition.js"></script>
    <script src="/bootstrap/docs/assets/js/bootstrap-alert.js"></script>
    <script src="/bootstrap/docs/assets/js/bootstrap-modal.js"></script>
    <script src="/bootstrap/docs/assets/js/bootstrap-dropdown.js"></script>

    <script src="/bootstrap/docs/assets/js/bootstrap-scrollspy.js"></script>
    <script src="/bootstrap/docs/assets/js/bootstrap-tab.js"></script>
    <script src="/bootstrap/docs/assets/js/bootstrap-tooltip.js"></script>
    <script src="/bootstrap/docs/assets/js/bootstrap-popover.js"></script>
    <script src="/bootstrap/docs/assets/js/bootstrap-button.js"></script>
    <script src="/bootstrap/docs/assets/js/bootstrap-collapse.js"></script>

    <script src="/bootstrap/docs/assets/js/bootstrap-carousel.js"></script>
    <script src="/bootstrap/docs/assets/js/bootstrap-typeahead.js"></script>
  </body>
</html>

 {% endblock %}	