
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>
     <link href="/bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet">
     <link href="/bootstrap/docs/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAH7frOOslC7tXHdC-WiJ16d4uhsI_1PQY&sensor=false">
      
    </script>
        

   <script src="/bootstrap/docs/assets/js/jquery.js"></script>
          <script language="JavaScript" src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>
 <script src="/js/utility.js"></script>

    <script type="text/javascript">
    	var markers = {};
    	var infowindows = {};
    	var markercounts = {};
    	function codeAddress(map, address, markertitle, isuserlocation, url, source, dealid, latp, lngp, channel, imgurl) {
    		var display = '<div class="container well" style="margin-bottom: 0px;width:100%;"><div><table><tr><td><img src="' + imgurl + '" style="height: 40px;" width="40"/></td><td><a href="' + url + '" target="_blank">' + markertitle + '</a></td></tr></table></div><div><span style="color: green;">From ' + source + '</span>&nbsp;|&nbsp;' + address + '</div></div>';
    		if((latp == 0) && (lngp == 0)) {
    			geocoder.geocode( { 'address': address}, function(results, status) {
				  if (status == google.maps.GeocoderStatus.OK) {
					var lat = results[0].geometry.location.lat();
					var lng = results[0].geometry.location.lng();
					
					execURL('/updatedeallocation/' + dealid + '/' + lat + '/' + lng, true);
					var latlng = new google.maps.LatLng(lat,lng);
					//map.setCenter(latlng);
					if(markers.hasOwnProperty(address)) {
						var iwin = infowindows[address];
						iwin.setContent(iwin.getContent() + '<br>' + display);
						markercounts[address] = markercounts[address] + 1;
						var marker = markers[address];
						if(channel == "in-store") {
							marker.setIcon('http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=' + markercounts[address] + '|0000FF|000000');
						}
						else {
							marker.setIcon('http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=' + markercounts[address] + '|FF0000|000000');
						}
						
						
					}
					else {
						var marker = new google.maps.Marker({
							map: map,
							position: latlng,
							title: markertitle
						});
						if(isuserlocation) {
							iconFile = 'http://maps.google.com/mapfiles/ms/icons/green-dot.png';
							marker.setIcon(iconFile);
						}
						
						
						if(channel == "in-store") {
							iconFile = 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png';
							marker.setIcon(iconFile);
						}
						var infowindow = new google.maps.InfoWindow({
							content: display,
							maxWidth: 20
						});
						markers[address] = marker;
						infowindows[address] = infowindow;
						markercounts[address] = 1;
						google.maps.event.addListener(marker, 'click', function() {
						  infowindow.open(map,marker);
						});
					}
					
				  } else {
					//alert("Geocode was not successful for the following reason: " + status);
				  }
				});
    		}
    		else {
    				
    				var latlng = new google.maps.LatLng(latp,lngp);
					//map.setCenter(latlng);
					if(markers.hasOwnProperty(address)) {
						var iwin = infowindows[address];
						iwin.setContent(iwin.getContent() + '<br>' + display);
						markercounts[address] = markercounts[address] + 1;
						var marker = markers[address];
						if(channel == "in-store") {
							marker.setIcon('http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=' + markercounts[address] + '|0000FF|000000');
						}
						else {
							marker.setIcon('http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=' + markercounts[address] + '|FF0000|000000');
						}
					}
					else {
						var marker = new google.maps.Marker({
							map: map,
							position: latlng,
							title: markertitle
						});
						if(isuserlocation) {
							iconFile = 'http://maps.google.com/mapfiles/ms/icons/green-dot.png';
							marker.setIcon(iconFile);
						}
						if(channel == "in-store") {
							iconFile = 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png';
							marker.setIcon(iconFile);
						}
						var infowindow = new google.maps.InfoWindow({
							content: display,
							maxWidth: 20
						});
						markers[address] = marker;
						infowindows[address] = infowindow;
						markercounts[address] =  1;
						google.maps.event.addListener(marker, 'click', function() {
						  infowindow.open(map,marker);
						});
					}
				
			}	
			
    		
		  }

    	
    	
    	function initialize() {
       		geocoder = new google.maps.Geocoder();
    		var mapOptions = {
      			zoom: {{zoom}},
      			mapTypeId: google.maps.MapTypeId.ROADMAP,
      			center: new google.maps.LatLng({{query['lat']}} - 0.005,{{query['long']}} - 0.005)
    		}
    		map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
    		
			
			
			{% for deal in deals %}
				{% if deal['city'] is defined %}
				{% if deal['city'] in [''] %}
				
				{% else %}
					var add = "{{deal['street']}}" + ", {{deal['city']}}" + ", {{deal['state']}}" + ", US";
    				{% if deal['lat'] is defined %}
    					var lat = {{deal['lat']}};
    				{% else %}
    					var lat = 0;
    				{% endif %}
    				{% if deal['long'] is defined %}
    					var lng = {{deal['long']}};
    				{% else %}
    					var lng = 0;
    				{% endif %}
    				codeAddress(map, add, "{{ deal['title']|replace("\"", " ")|replace("'", " ") }}" , false, "{{ deal['url'] }}", "{{ deal['source'] }}","{{deal['_id']}}", lat, lng,"{{deal['channel']}}", "{{deal['image']}}");
    			{% endif %}
    			{% endif %}
    		{% endfor %}
			
			 
			 codeAddress(map, '{{query['city']}}, {{query['state']}}, {{query['zip']}}', "My location", true, "#", "", "-1", {{query['lat']}} - 0.005, {{query['long']}} - 0.005,"","");
			 var latlng = new google.maps.LatLng({{query['lat']}} - 0.005,{{query['long']}} - 0.005);
			 map.setCenter(latlng);
			 			
			 			

      	}
      	


    </script>
  </head>
  <body onload="initialize()" style="padding-left: 0px; padding-right: 0px;">
  	<div class="accordion" id="accordion3">  <!-- Holds Filter heading and accordian -->
							<div class="accordion-group" style="background-color: #D9EDF7;">
								<div id="message" class="accordion-heading">
									
								  		 
									
							  	</div>
								<div style="height: 0px;" id="collapseOne" class="accordion-body collapse">
									<div class="accordion-inner">
								  		Local & store deals around you. Click on the markers to see details. Edit you location for more accurate results.
									</div>
							  	</div>
							</div>
						</div>
	<script>
	document.getElementById("message").innerHTML="<a class=\"accordion-toggle label label-info\" data-toggle=\"collapse\" data-parent=\"#accordion3\" href=\"#collapseOne\">Local & in Store deals around <strong><span style=\"color:orange;\">{{query['city']}}, {{query['state']}}</span></strong> <i class=\"icon-question-sign icon-white\"></i></a><a onclick=\"\" href=\"\" style=\"float:right;\">Enlarge Map <i class=\"icon-fullscreen\"></i></a>";
	</script>
    <div id="map_canvas" style="width:100%; height:100%"></div>
    
    
    
 	 <script src="/bootstrap/docs/assets/js/bootstrap-transition.js"></script>
    <script src="/bootstrap/docs/assets/js/bootstrap-alert.js"></script>
    <script src="/bootstrap/docs/assets/js/bootstrap-modal.js"></script>
    <script src="/bootstrap/docs/assets/js/bootstrap-dropdown.js"></script>

    <script src="/bootstrap/docs/assets/js/bootstrap-scrollspy.js"></script>
    <script src="/bootstrap/docs/assets/js/bootstrap-tab.js"></script>
    <script src="/bootstrap/docs/assets/js/bootstrap-tooltip.js"></script>
    <script src="/bootstrap/docs/assets/js/bootstrap-popover.js"></script>
    <script src="/bootstrap/docs/assets/js/bootstrap-button.js"></script>
    <script src="/bootstrap/docs/assets/js/bootstrap-collapse.js"></script>

    <script src="/bootstrap/docs/assets/js/bootstrap-carousel.js"></script>
    <script src="/bootstrap/docs/assets/js/bootstrap-typeahead.js"></script>
  </body>
</html>

 {% endblock %}	